<partial name="PokemonList" />

<center>
    <div page-model="@Model.PagingInfo" page-action="FilterType" page-classes-enabled="true"
         page-class="btn mr-1" page-class-normal="btn-outline-secondary"
         page-class-selected="btn-outline-primary" class="btn-group mb-2 mt-4">
    </div>
</center>
