@model PokemonListViewModel

@{
    var pokemonCount = 0;
    var SpriteSrc = "~/Sprites/";
}

<table style="width:100%">
    @{
        foreach (var p in Model.Pokemons)
        {
            if (pokemonCount % 3 == 0)
            {
                @:<tr>
                }
                <td width="33%">
                    @{ var SpriteImg = SpriteSrc + p.PokemonID + ".png";}
                    <center>
                        <a asp-controller="Pokemon" asp-action="Pkm" asp-route-id="@p.PokemonID">
                            <img class="hvr-float" src="@Url.Content(SpriteImg)" />
                        </a>
                    </center>
                    <center>
                        <a asp-controller="Pokemon" asp-action="Pkm" asp-route-id="@p.PokemonID">
                            @p.Name
                        </a>
                    </center>
                </td>
                pokemonCount++;
            }
    }
</table>