@model PokemonListViewModel

@{
    var pokemonCount = 0;
}

<table style="width:100%">
    @{
        foreach (var p in Model.Pokemons)
        {
            if (pokemonCount % 3 == 0)
            {
                @:<tr>
            }
            <td width="33%"><a asp-action="Pkm" asp-route-id="@p.PokemonID"><center>@p.Name</center></a></td>
            pokemonCount++;
        }
    }
</table>

<center><div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn mr-1" page-class-normal="btn-outline-secondary"
     page-class-selected="btn-outline-primary" class="btn-group mb-2 mt-4">
</div></center>
